// Use All Helpers Directory Contents
@use "usinghelpers" as *;

// Global Styling
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Oswald', sans-serif;
  background-color: color(body-color);
}
input,
button,
textarea,
select {
  font-family: inherit;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a,button {
  cursor: pointer;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 10px;
}
