// Color BreakPoints
$color-breakpoints: (
  main-color: #333333,
  secondary-color: red,
  blue-color: #085C94,
  green-color: #129A67,
  body-color: #F1F5F9,
  text-color: #ffffff,
  gold-color: #ffd700,
  overlay-color: #00000066,
);
// Media BreakPoints